{
	"root": true,

	"extends": "@ljharb",

	"ecmaFeatures": {
		"regexYFlag": true,
		"regexUFlag": true
	},

	"rules": {
		"max-statements": [2, 14],
		"no-extend-native": [2, {"exceptions": ["RegExp"]}],
		"no-invalid-this": [0]
	}
}
